<!DOCTYPE html>
<html lang = "en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="#">
        <title>Chemquizr</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

        <style>
            .background {
                color: #f8f9fa;
            }
        </style>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark py-3">
                <a class="navbar-brand" href="#">Chemquizr</a>
    
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/quizzes">Quizzes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/leaderboards">Leaderboards</a></li>
                </ul>
            </nav>
            <div class="container text-center py-4">
                <h1>
                    Chemquizr
                </h1>
                <p>
                    Test your knowledge. Identify chemical structues.
                </p>
            </div>

        </header>

        <main>
            <div class="content bg-light text-center py-5">
                <div class="container py-2">
                    <p>Under construction...</p>
                </div>    
            </div>

        </main>

        <footer class="text-muted py-5">
            <div class="container">
                <p>Data from PubChem<a href="https://pubchem.ncbi.nlm.nih.gov/"> https://pubchem.ncbi.nlm.nih.gov/</a></p>
            </div>
        </footer>




    </body>



</html>